{
    "compiler": "modular",
    "name": "im",
    "version": "0.0.0",
    "dependencies": {},
    "alias": {},
    "export": [
        {"path": "./js/lib/jquery.js", "no_version": true, "browserify": false },

    	{"path": "./js/im.js", "no_version": true },
        {"path": "./css/im.less", "no_version": true },

        {"path": "./css/signup.less", "no_version": true },
        {"path": "./js/signup.js", "no_version": true },

        {"path": "./css/signout.less", "no_version": true },
        {"path": "./js/signout.js", "no_version": true },

        {"path": "./css/signin.less", "no_version": true },
        {"path": "./js/signin.js", "no_version": true }
    ]
}