<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>FatChat在线聊天</title>
	<link rel="stylesheet" href="/prd/css/im.css">
</head>
<body>
	<div class="container" id="im">
		<im-main></im-main>
		<im-dialog maxsize="100"></im-dialog>
		<im-modal :arg="modalData"></im-modal>
	</div>


	<script type="text/x-template" id="main-tpl">
		<div class="main-wrapper" v-if="show_main" transition="fade">
			<div class="main">
				<div class="top-bar">
					<div class="inner clearfix">
						<a href="javascript:;" class="avatar-wrapper" @click="dispatchChildEvent('showModal', {id: 'avatar-modal', title: '修改头像', modalBody: 'avatarPanel'})">
							<img v-if="userInfo.avatar" :src="'/img/avatar/'+userInfo.avatar" alt="{{userInfo.nickname}}" width="64" height="64">
						</a>
						<div class="name-info">
							<h3 class="nickname">{{userInfo.nickname}}</h3>
							<input type="text" class="signature" placeholder="个性签名" maxlength="32" :value="userInfo.signature" v-model="new_signature" @keydown.enter="submitSignature($event)"  @blur="updateSetting('signature')">
						</div>
						<b class="vender">FatChat</b>
					</div>

					<div class="addfriends-bar" @click="dispatchChildEvent('showModal', {id: 'addfriends-modal', title: '添加好友', modalBody: 'searchfriends'})">
						<i class="icon add"></i><a href="javascript:;" data-action="showModal" data-arg="addfriends, 添加好友">查找并添加好友</a>
					</div>
				</div>
				<div class="menu">
					<ul class="menu-list">
						<li @click="toggleMenu('session')" class="menu-item" :class="{active: current_menu === 'session'}"><button class="menu-bar">会话</button></li>
						<li @click="toggleMenu('friends')" class="menu-item" :class="{active: current_menu === 'friends'}"><button class="menu-bar">好友</button></li>
						<li @click="toggleMenu('setting')" class="menu-item" :class="{active: current_menu === 'setting' || current_menu === 'detailPanel'}"><button class="menu-bar">设置</button></li>
					</ul>
				</div>
				<div class="main-body">
					<div class="panel-group">
						<div class="panel-body session" v-if="current_menu === 'session'" :transition="panelTransition">
							<div class="panel-inner webkitscrollbar" @click="toggleClass('-1', 'sessions')">
								<!-- 历史会话列表 -->
								<ul class="session-list">
									<template v-if="lastMsgList.length" v-for="s in lastMsgList">
										<li class="clearfix">
											<a href="javascript:;" class="list-link" @click.stop="toggleClass($index, 'sessions')" @focus="toggleClass($index, 'sessions')"  @dblclick="openMsgDialog(s)" @keyup.enter="openMsgDialog(s)" :class="{active: sessionsActiveID == $index}">
												<span class="avatar"><img :src="'/img/avatar/'+s.avatar" alt="{{s.nickname}}"></span>
												<div class="text">
													<div>
														<span class="title">{{s.nickname}}</span>
														<span class="ts">{{s.createtime | getDateString}}</span>
													</div>
													<span class="body">
														<template v-if="s.type == 2">[图片]</template>
														<template v-else>{{s.body}}</template>
														<span class="unread-count" v-show="s.unreadCount">{{s.unreadCount}}</span>
													</span>
												</div>
											</a>
										</li>
									</template>

									<li v-if="lastMsgList.length==0" class="empty-tip"><span class="title">暂无历史会话~</span></li>
								</ul>
							</div>
						</div>

						<div class="panel-body friends" v-if="current_menu === 'friends'" :transition="panelTransition">
							<div class="panel-inner webkitscrollbar" @click="toggleClass('-1', 'friends')">
								<ul class="friends-list">
									<!-- Unknow Friends -->
									<template v-for="friend in unknowFriends">
										<li class="clearfix add-request">
											<div class="list-link" @click.stop="toggleClass($index, 'friends')" @focus="toggleClass($index, 'friends')" :class="{active: friendsActiveID == $index}">
												<span class="avatar"><img :src="'/img/avatar/'+friend.avatar" alt="{{friend.nickname}}"></span>
												<div class="text">
													<div class="title">
														<span class="name">{{friend.nickname}}</span> 请求加你好友
													</div>
													<div class="action-bar">
														<button class="accept" @click="processAddRequest('accept', friend)">同意</button>
														<button class="reject" @click="processAddRequest('reject', friend)">拒绝</button>
													</div>
												</div>
											</div>
										</li>
									</template>

									<!-- old Friends -->
									<template v-for="friend in friends">
										<li class="clearfix">
											<a href="javascript:;" class="list-link" @click.stop="toggleClass($index, 'friends')" @dblclick="openMsgDialog(friend)" @keyup.enter="openMsgDialog(friend)" :class="{active: friendsActiveID == $index}">
												<span class="avatar"><img :src="'/img/avatar/'+friend.avatar" alt="{{friend.nickname}}"></span>
												<div class="text">
													<p class="title">{{friend.nickname}}</p>
													<p class="signature">{{friend.signature}}</p>
												</div>
											</a>
										</li>
									</template>
									<li v-if="friends.length === 0" class="empty-tip"><span class="title">你还没有好友，快去添加好友吧</span></li>
								</ul>
							</div>
						</div>

						<div class="panel-body setting" v-if="current_menu === 'setting'" :transition="panelTransition">
							<div class="panel-inner webkitscrollbar list-panel">
								<div class="setting-msg" v-if="settingMsg">{{settingMsg}}</div>
								<ul class="list-group">
									<li class="list-item">
										<a class="list-link">
											<span class="list-title">邮箱</span>
											<span class="list-detail">
												<span class="list-tex">{{userInfo.email}}</span>
											</span>
										</a>
									</li>
									<li class="list-item">
										<a href="javascript:;" @click="showDetailPanel('nickname')" class="list-link">
											<span class="list-title">昵称</span>
											<span class="list-detail">
												<span class="list-text">
													{{userInfo.nickname}}
												</span>
												<i class="list-arrow">&gt;</i>
											</span>
										</a>
									</li>
									<li class="list-item">
										<a href="javascript:;" class="list-link" @click="showDetailPanel('gender')">
											<span class="list-title">性别</span>
											<span class="list-detail">
												<span class="list-text">{{userInfo.gender | genderFilter}}</span>
												<i class="list-arrow">&gt;</i>
											</span>
										</a>
									</li>
									<li class="list-item">
										<a href="javascript:;" class="list-link" @click="showDetailPanel('birthday')">
											<span class="list-title">年龄</span>
											<span class="list-detail">
												<span class="list-text">{{userInfo.birthday | getAge}}</span>
												<i class="list-arrow">&gt;</i>
											</span>
										</a>
									</li>
								</ul>

								<ul class="list-group">
									<li class="list-item">
										<a href="javascript:;" class="list-link" @click="showDetailPanel('resetpass')">
											<span class="list-title">修改密码</span>
											<span class="list-detail">											
												<i class="list-arrow">&gt;</i>
											</span>
										</a>
									</li>
								</ul>

								<ul class="list-group">
									<li class="list-item">
										<a href="javascript:;" class="list-link" @click="showDetailPanel('about')">
											<span class="list-title">关于</span>
											<span class="list-detail">											
												<i class="list-arrow">&gt;</i>
											</span>
										</a>
									</li>
								</ul>

								<div class="list-btn-group">
									<a href="#setting/quit" class="list-button btn red-btn" @click="quit">退出</a>
								</div>
							</div>
						</div>

						<div class="panel-body detail-panel" v-if="detail_panel_show" :transition="detailTransition">
							<div class="panel-inner webkitscrollbar list-panel">
								<form v-if="setting.nickname_show" @submit.prevent="updateSetting('nickname')">
									<h4 class="list-header">修改昵称</h4>
									<div class="list-group form-group">
										<input type="text" v-model="new_nickname" :value="userInfo.nickname" maxlength="20">
									</div>
									<div class="list-btn-group">
										<button type="submit" class="list-button btn">确认</button>
									</div>
								</form>
								<form v-if="setting.gender_show" @submit.prevent="updateSetting('gender')">
									<h4 class="list-header">修改性别</h4>
									<div class="list-group gender-detail">
										<div class="form-group list-item">
											<label>
												<input type="radio" name="new_gender" :checked="userInfo.gender == 1" v-model="new_gender" :value="1"> 男
											</label>
										</div>
										<div class="form-group list-item">
											<label>
												<input type="radio" name="new_gender" :checked="userInfo.gender == 2" v-model="new_gender" :value="2"> 女
											</label>
										</div>
										<div class="form-group list-item">
											<label>
												<input type="radio" name="new_gender" :checked="userInfo.gender == 3" v-model="new_gender" :value="3"> 其他
											</label>
										</div>
									</div>
										
									<div class="list-btn-group">
										<button type="submit" class="list-button btn">确认</button>
									</div>
								</form>
								<form v-if="setting.birthday_show" @submit.prevent="updateSetting('birthday')">
									<h4 class="list-header">修改年龄</h4>
									<div class="list-group form-group">
										<input type="text" v-model="new_birthday" :value="userInfo.birthday | getAge" maxlength="3">
									</div>
									<div class="list-btn-group">
										<button type="submit" class="list-button btn">确认</button>
									</div>
								</form>
								<div v-if="setting.about_show">
									<div class="about-text">
										<h3>关于 FatChat</h3>
										<p>FatChat(肥聊)是一款每居家旅行，在线约会聊天必备的在线聊天即时工具。</p>
									</div>

									<div class="list-btn-group" @click="updateSetting('about')">
										<button type="submit" class="list-button btn">确认</button>
									</div>
								</div>
								<form v-if="setting.resetpass_show" @submit.prevent="updateSetting('password')">
									<div class="list-panel resetpass-box">
										<h4 class="list-header">修改密码</h4>
										<div class="list-group">
											<div class="list-item clearfix form-group">
												<label class="list-title" for="old_password">原密码</label>
												<input type="password" id="old_password" v-model="old_password" maxlength="20">
											</div>
											
											<div class="list-item clearfix form-group">
												<label class="list-title" for="new_password">新密码</label>
												<input type="password" id="new_password" v-model="new_password" maxlength="20">
											</div>
											
											<div class="list-item clearfix form-group">
												<label class="list-title" for="new_password2">确认密码</label>
												<input type="password" id="new_password2" v-model="new_password2" maxlength="20">
											</div>
										</div>

										<div class="list-btn-group">
											<button type="submit" class="list-button btn">确认</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</script>
	<script type="text/x-teplate" id="im-tpl">
		<div class="im-wrapper" v-show="visibility" @click="hideQQFacePanel">
			<div class="im">
				<div class="im-top-bar clearfix">
					<span class="avatar fl-l"><img v-if="toUser.avatar" :src="'/img/avatar/' + toUser.avatar" alt="{{toUser.nickname}}"></span>
					<h5 class="im-hd fl-l">{{toUser.nickname}}</h5>
					<button class="closer btn-plaint fl-r" @click="hide">&times;</button>
				</div>
				
				<div class="im-bd">
					<div class="im-bd-left">
						<div class="im-msg-list-box webkitscrollbar" id="ps">
							<div class="dialog-tips" v-if="dialogTips"><div class="tip-body">{{dialogTips}}</div></div>
							<ul class="im-msg-list clearfix" v-if="msgList.length">
								<li class="top-tips" v-if="msgList.length >= maxsize-1">
									<span class="tip-body">默认最多显示{{maxsize}}条历史消息</span>
								</li>
								<li class="im-msg clearfix" v-for="msg in msgList" :class="msg.from | msgTypeFilter">
									<!-- msg from user -->
									<template v-if="msg.from === fromUser.id">
										<div class="im-msg-info">
											<span class="im-msg-title">{{fromUser.nickname}}</span> <span class="im-msg-ts">{{msg.createtime | getTimeString}}</span>
										</div>
										<div class="im-msg-content">
											<div class="avatar">
												<img :src="'img/avatar/'+ fromUser.avatar" alt="{{fromUser.nickname}}">
											</div>
											<p class="im-msg-bd" v-if="msg.type==1">{{{msg.body | qqface}}}</p>
											<p class="im-msg-bd" v-if="msg.type==2"><img class="img-msg" :src="msg.body" alt="图片"></p>
										</div>
									</template>
									<template v-else>
										<div class="im-msg-info">
											<span class="im-msg-title">{{toUser.nickname}}</span> <span class="im-msg-ts">{{msg.createtime | getTimeString}}</span>
										</div>
										<div class="im-msg-content">
											<div class="avatar">
												<img :src="'img/avatar/'+ toUser.avatar" alt="{{toUser.nickname}}">
											</div>
											<p class="im-msg-bd" v-if="msg.type==1">{{{msg.body | qqface}}}</p>
											<p class="im-msg-bd" v-if="msg.type==2"><img class="img-msg" :src="msg.body" alt="图片" @load="imgMsgLoad"></p>
										</div>
									</template>
								</li>
							</ul>
						</div>
				
						<div class="im-input-wrapper">
							<div class="im-input-toolbar">
								<button class="im-tb emoji btn-plaint" @click.prevent.stop="showQQFacePanel">表情</button>
								<button class="im-tb photo btn-plaint">图片
									<form action="/api/fileupload" method="POST" target="ifrup" enctype="multipart/form-data">
										<input type="file" name="ifrup" id="ifrup" v-model="ifrup" accept="imbirthday/*" @change="filechanged($event)">
									</form>
									<iframe @load="fileuploadComplete($event)" style="display: none;" frameborder="0" name="ifrup" id="ifrup">
									</iframe>
								</button>
							</div>
				
							<div class="im-input-box">
								<div class="im-input-outter">
									<textarea class="im-input" id="im-input" autofocus="true" maxlength="200" v-model="msg" @keydown.enter.prevent="send"></textarea>
								</div>
								<div class="im-input-box-bar clearfix">
									<label class="set-send-key">
										<input type="checkbox" v-model="usesCtrlKey"> 按
										<template v-if="!usesCtrlKey">
											<code class="keyboard">Ctrl</code> +
										</template>
										<code class="keyboard">Enter</code>
										发送
									</label>
									<button class="im-send-btn fl-r" @click="send">发送</button>
								</div>
							</div>
						</div>
					</div>
				
					<div class="im-bd-right">
						<dl class="friend-info-list">
							<dd v-if="toUser.avatar" class="ta-c">
								<img :src="'/img/avatar/'+toUser.avatar" alt="{{toUser.nickname}}" width="128">
							</dd>
							<dd>性别： <span>{{toUser.gender | genderFilter}}</span></dd>
							<dd>年龄： <span>{{toUser.birthday | getAge}}</span></dd>
							<dd>签名： <span>{{toUser.signature}}</span></dd>
						</dl>
						<div class="btn-group">
							<button class="btn red-btn" @click="removeFriend">删除好友</button>
						</div>
					</div>
				</div>


				<div class="qqface-panel" v-show="qqfacePanelShow">
					<div class="qq_face">
						<a href="javascript:;" class="face"  v-for="face in qqfaceData" :class="'qqface'+$index" :title="face" @click.prevent="pickQQFacePanel($index)">{{face}}</a>
					</div>
				</div>
			</div>
		</div>
	</script>
	<script type="text/x-template" id="modal-tpl">
		<div class="modal" v-show="visibility" :id="id" v-on:modal-show="show">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" aria-hidden="true" @click="hide">&times;</button>
						<h4 class="modal-title">{{title}}</h4>
					</div>
					<template :is="modalBody"></template>
				</div>
			</div>
		</div>
	</script>
	<script type="text/x-template" id="searchfriends-tpl">
		<div class="modal-body">
			<form action="#" id="addfriends-form" onsubmit="return false;" @submit='searchFriends'>
				<div class="form-group search-box clearfix">
					<input type="text" name="friends_info" id="friends_info" placeholder="输入对方邮箱或昵称来查找好友" autocomplete="no" autofocus="autofocus" v-model="friends_info">
					<button type="submit">查找</button>
				</div>
			</form>
			<div class="friends-list">
				<div v-if="friends" v-for="friend in friends" class="friend-item clearfix" :class="friend.added ? 'active' : ''">
					<img :src="'/img/avatar/'+friend.avatar" alt="{{friend.nickname}}">
					<div class="info">
						<p>
							<span class="nickname">{{friend.nickname}}</span>
						</p>
						<p>
							<span class="gender">{{friend.gender | genderFilter}}</span>
							<button class="add btn" @click="addFriends(friend.id)" :disabled="friend.added">加为好友</button>
						</p>
					</div>
				</div>
				<span v-if="friends && friends.length === 0">没有找到相关用户</span>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-primary" @click="hide">确定</button>
		</div>
	</script>

	<script type="text/x-template" id="avatarpanel-tpl">
		<div class="modal-body">
			<div class="header">
				<h4 class="title">从下面选择你喜欢的头像</h4>
			</div>
			<div class="avatar-panel webkitscrollbar" v-if="avatars">
				<a href="javascript:;" class="avatar-item"
					v-for="fileName in avatars" @click="select( fileName, $index )"
					:class="{active: $index === activeIndex }">
					<img :src="'/img/avatar/' + fileName" alt="{{fileName}}">
				</a>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default"  @click="hide">取消</button>
			<button type="button" class="btn btn-primary" @click="submit">确定</button>
		</div>
	</script>
	<script src="/js/im.js"></script>
</body>
</html>