<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>重置FatChat密码</title>
	<link rel="stylesheet" href="/css/signup.css">
</head>
<body>
	<div class="wrapper signup-page is-sigin" id="sginup-page">
		<div class="header-bar">
			<div class="header">
				<img src="/img/logo.png" alt="PANZI IM" class="logo">
				<span class="signin-btn">
					<a href="/signup.html" class="btn link-sigin">注册</a>
				</span>
			</div>
		</div>

		<div class="main content">
			<h2>重置FatChat密码</h2>
			<div class="clearfix">
				<div class="signup">
					<div id="alert" v-if="alertMsg">{{alertMsg}}</div>
					<form action="/action/reset_password" method="POST" class="form-horizontal" role="form">
							<div class="form-group">
								<label for="email">邮箱</label>
								<input type="text" v-model="email" name="email" id="email" autofocus="autofocus" @keyup="validator | debounce 500" :value="formData.email">
							<div class="validate-msg" v-show="validatMsg.email">{{validatMsg.email}}</div>
							</div>
							<div class="form-group">
								<label for="password">新密码</label>
								<input type="password" v-model="password" name="password" id="password" @keyup="validator | debounce 500">
							<div class="validate-msg" v-show="validatMsg.password">{{validatMsg.password}}</div>
							</div>
							<div class="form-group submit-group clearfix">
								<button type="submit" class="btn btn-large btn-submit" :disabled="allValidate > 0">登录</button>
							</div>
							<div class="form-group tips">
								<a href="/forget.html" class="link-sigin">找回密码</a>
								<span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
								<span>
									还没有帐户？
									<a href="/signup.html" class="link-sigin">注册新用户</a>
								</span>
							</div>
					</form>
				</div>
			</div>
		</div>

		<div class="footer">
			<p class="copyright">Shouzi &copy;2016</p>
		</div>
	</div>
	<script src="/js/signin.js"></script>
</body>
</html>