.im-wrapper {
	font-family: Tahoma, 'Microsoft Yahei', sans-serif;
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 560px;
	// height: 480px;
	border: 1px solid #ccc;
	box-shadow: 0 0 9px rgba(25, 25, 25, 0.3);

	ul, ol, li {padding: 0;margin: 0;list-style-type: none;}
	.clearfix {
		overflow: hidden;
	}
	.clearfix:after,
	.clearfix:before {
		position: absolute;
		content: ' ';
		clear: both;
	}
	.fl-l {float: left;}
	.fl-r {float: right;}
	.btn-plaint {
		font-family: inherit;
		background-color: transparent;
		border: none;
	}

	.im-top-bar {
		padding: 10px;
		background-color: #eee;
		border-bottom: 1px solid #ddd;

		.im-hd {
			margin: 0;
			color: #666;
			font-size: 18px;
			font-weight: bold;
		}

		.closer {
			font-size: 18px;
			font-weight: bold;
			color: #999;
			cursor: pointer;
		}
	}

	.im-bd {
		position: relative;
	}
	.im-bd-left {
		background-color: #f2f2f2;
		margin-right: 180px;
	}
	.im-msg-list-box {
		height: 280px;
		padding: 12px;
		overflow-y: auto;
	}

	.im-msg {
		font-size: 12px;
		clear: both;
		width: 100%;
		margin-bottom: 5px;

		&.received {
			float: left;

			.im-msg-bd {
				background-color: #ccc;
				color: #333;

				&:before {
					margin-top: 1px;
					margin-left: -20px;
					content: ' ';
					position: absolute;
					border: 10px solid #ccc;
					border-color: transparent #ccc #ccc transparent;
				}
			}
		}

		&.sent {
			float: right;
			text-align: right;

			.im-msg-bd {
				background-color: #0cf;
				color: #fff;

				&:after {
					margin-top: 1px;
					content: ' ';
					position: absolute;
					border: 10px solid #0cf;
					border-color: transparent transparent #0cf #0cf;
				}
			}
		}

		.im-msg-info {
			color: #bbb;
		}
		.im-msg-bd {
			display: inline-block;
			font-size: 14px;
			padding: 6px 10px;
			border-radius: 16px;
			margin: 10px 5px;
		}
	}

	.im-bd-right {
		position: absolute;
		background-color: #eee;
		top: 0;
		right: 0;
		width: 180px;
		height: 100%;
	}

	.im-input-toolbar {
		padding: 0 10px;
		border-top: 1px solid #ddd;

		.im-tb {
			width: 24px;
			padding: 6px 0;
			background: url('/img/out.png') no-repeat;
			text-indent: -99px;
			overflow: hidden;

			&.emoji {
				background-position: 0px 2px;
			}
			&.photo {
				background-position: -24px 2px;
			}
		}
	}
	.im-input-outter {
		position: relative;
		padding: 0 12px;
	}
	.im-input {
		height: 60px;
		padding: 0;
		margin: 0;
		width: 100%;
		border: 0;
		resize: none;
		outline: none;
		font-family: inherit;
		font-size: 12px;
		color: #333;
		background-color: transparent;
	}
	.im-input-box-bar {
		padding: 10px;
	}
	.im-send-btn {
		padding: 5px 20px;
		background-color: #39f;
		border: 0;
		border-radius: 4px;
		color: #eee;
		cursor: pointer;

		&:hover,
		&:active {
			background-color: #3af;
		}
		&:disabled {
			background-color: #aaa;
			cursor: default;
		}
	}
}