@import (less) './lib/normalize.css';
body {font-family: Tahoma, '\5fae\8f6f\96c5\9ed1', sans-serif;}
.clearfix {overflow: hidden;}
.fl-l {float: left;}
.fl-r {float: right;}
html {
	background-color: #f2f2f2;
}
.signup-page {
	a {text-decoration: none;}
	a:hover,a:active {text-decoration: underline;}
	.btn {
		border: 0;
		background-color: #09f;
		padding: 6px 20px;
		color: #fff;
		text-decoration: none;
		border-radius: 4px;
		line-height: 1.5;
		font-size: 1em;
		font-family: inherit;
		cursor: pointer;
		display: inline-block;

		&.btn-large {
			padding: 6px 30px;
		}

		&.btn-white {
			background-color: #eee;
			color: #333;
		}
	}
	#alert {
		color: #faa;
		text-align: center;
		font-size: 18px;
		padding: 10px;
	}
	.validate-msg {
		margin-left: 66px;
		color: #f99;
		margin-top: 6px;
		font-size: 12px;
	}
	.content {
		width: 980px;
		margin: 0 auto;
	}
	.form-group {
		clear: both;
		padding: 6px 0;

		label {
			display: inline-block;
			width: 4em;
			color: #666;
		}

		input,
		select {
			width: 16em;
			padding: 6px;
			color: #333;
			border: 1px solid #ccc;
			-webkit-box-sizing: content-box;
			-moz-box-sizing: content-box;
			-ms-box-sizing: content-box;
			box-sizing: content-box;
			-webkit-appearance: none;
			border-radius: 0;
			background-color: #fff;
		}

		&.submit-group {
			margin-top: 0.5em;
			margin-left: 68px;

			.link-signin {
				margin-left: 45px;
				line-height: 36px;
			}
		}

		&.tips {
			font-size: 12px;
			color: #666;
			margin-top: 5px;
			margin-left: 68px;
		}
	}

	.header-bar {
		background-color: #f2f2f2;
		padding: 15px 30px;

		.logo {
			width: 64px;
			height: 64px;
		}

		.signin-btn,
		.signup-btn {
			float: right;
			height: 64px;
			line-height: 64px;

		}
	}
	.main {
		width: 420px;
		padding: 30px 0;
		min-height: 300px;
		background-color: #fff;
		// background: url(/img/baymax.jpg) right 100px no-repeat;
		// height: 360px;
		// min-height: 620px;

		h2 {
			height: 40px;
			margin: 10px 0;
			font-size: 26px;
			color: #333;
			text-align: center;
			font-weight: normal;
		}
		.signup {
			float: left;
			padding: 0 30px;

			.submit-group {
				margin-top: 15px;
			}
		}
		.side-content {
			float: right;

			.baymax-say-dialog {
				position: relative;
				margin: 20px 0 0 0;
				margin-right: 240px;
				text-align: right;
				color: #888;
				font-size: 14px;
				border: 1px solid #eee;
				border-radius: 12px;
				padding: 6px 14px;
				display: block;
				background-color: #eee;

				&:before {
					position: absolute;
					top: 6px;
					right: -9px;
					content: ' ';
					border-top: 10px solid transparent;
					border-right: 10px solid transparent;
					border-bottom: 10px solid #eee;
					border-left: 10px solid transparent;
				}
			}
		}
	}

	.footer {
		font-size: 12px;
		padding: 6px;
		border-top: 1px solid #eee;
		.copyright {
			margin: 0;
			text-align: center;
			color: #999;
		}
	}
}